<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>Donuts Land | <%= title %></title>
    </head>
    <body>
        <div class='top'>
            <a href='/adminhome' class='title2'>DONUTS LAND</a>
            <a href='/' class='a'>SIGN OUT</a>
           
        </div>

        <h3 class='text'>Hello Admin</h3>
        <p>Click to Edit</p>
        <div class='images'>
            <div class='image' id='aimg1'><p><a href='/adminorders' class='a'>All Orders</a></p></div>
            <div class='image' id='aimg2'><p><a href='/adminusers' class='a'>All Users</a></p></div>
        </div>
        
      



    </body>
</html>