<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>Donuts Land | <%= title %></title>
    </head>
    <body>
        <div class='top'>
            <a href='/home' class='title2'>DONUTS LAND</a>
            <a href='/' class='a'>SIGN OUT</a>
           
        </div>

        <h3 class='text'>Welcome to Donuts Land</h3>
        <p>Enjoy Our Services</p>
        <div class='images'>
            <div class='image' id='img1'><p><a href='/aboutus' class='a'>About Us</a></p></div>
            <div class='image' id='img2'><p><a href='/cart' class='a'>Order Now</a></p></div>
            <div class='image' id='img3'><p><a href='/picupload' class='a'>Show us your Creativity</a></p></div>
        </div>
        
      



    </body>
</html>