<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>Donuts Land | <%= title %></title>
    </head>
    <body>
        <div class='top'>
            <a href='/' class='title1'>DONUTS LAND</a>
            <a href='/signin' class='a'>SIGN IN</a>
            <a href='/signup' class='a'>SIGN UP</a>
        </div>
        
        <div class='imgdiv'>
            <img src='/images/donut1.jpg' height="400px"/>
        </div>
        
    </body>
</html>