<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>Donuts Land | <%= title %></title>
    </head>
    <body>
        <div class='top'>
            <a href='/home' class='title2'>DONUTS LAND</a>
            <a href='/' class='a'>SIGN OUT</a>
           
        </div>
        <h3 class='text'>Hello There</h3>
        <p>Please upload a picture of your design of a perfect Donut</p>
        <div class='container'>
        <table>
            <form action="/picupload" enctype="multipart/form-data" method="post">
                <tr>
                    <td><input type="file" name=pic></td>
                </tr>
                <tr>
                    <td><button type="submit" class='butn'>Submit</button></td>
                </tr>
            </form>
        </table>
      </div>



    </body>
</html>